<div class="container">

    <div class="row">
        <nav class="navbar navbar-dark navbar-collapse bg-dark">
            <h5 class="text-header">GitHub Repositories Search</h5>
            <form class="form-inline">
              
                <button class="btn btn-outline-success mr-lg-5" ng-click="vm.getBookmarks()" type="button">All bookmarks</button>

                <input class="form-control ml-sm-3" type="search" ng-model="vm.searchText" placeholder="Search" ng-keydown="$event.keyCode === 13 && vm.search()"  required aria-label="Search">
                <button class="btn btn-outline-success ml-2 my-sm-0" ng-click="vm.search()" type="button">Search</button>
            </form>
        </nav>


    </div>
    <hr noshade>
    <div class="row">

        <div class="col-sm-12 ">


            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="showall" role="tabpanel">
                    <repository-item add-item="vm.addItem(repo)" ng-if="vm.state==1||(vm.state==2 && repo.isMarked==true )" ng-repeat="repo in vm.searchRepositoriesData" item-data="repo"></repository-item>
                </div>


            </div>
           
        </div>
    
           
        


    </div>
    </div>
