<!DOCTYPE html>
<html ng-app="app" >
<head>
    <title></title>
    <meta charset="utf-8" />
    <base href="/" />
    @*<link href="Content/font-awesome.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="style/index.css" rel="stylesheet" />*@


   
    @*<script src="app/js/bootstrap.js"></script>*@
    @*<script src="app/js/site.js"></script>*@
    @*<script src="app/js/angular.js"></script>
    <script src="app/js/angular-route.js"></script>*@
    @*<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>*@
    @*<script src="app/js/ui-router.js"></script>
    <script src="app/app.js"></script>*@
</head>
<body>
    
        <section ui-view></section>
    


</body>
</html>
